@charset "UTF-8";
/* 吹き出し本体 */
.balloon {
  position: relative;
  padding: 20px;
  background-color: #fff5cc;
  border: 2px solid #ffdb4f;
  display: inline-block;
  top: 20px;
  font-size: 20px
}

/* アイコンを左に表示 */
.balloon::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 200px;
  border-right: 15px solid #ffdb4f;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.balloon::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -12px;
  top: 200px;
  border-right: 15px solid #fff5cc;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}