.Jihaku {
  position: absolute;
  top: 250;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  background: #000000;
  border-radius: 10px;
}

.Jihaku:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #000000;
}

.Jihaku p {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.hannin {
  position: relative;
  left: 460px;
}
