@charset "UTF-8";

.menu form {
  display: inline-block;
  margin: 0 10px;
}
.menu{

}
.bunseki {
  display: inline-block;
  vertical-align: top;
  border: solid 1px;
  border-collapse: separate;
  top:0%;
  left:50%;
  position: absolute;
}

.bunseki td {
  border: solid 1px #808080
}

div.en {
  display: inline-block;
}