@charset "UTF-8";

.menu form {
  display: inline-block;
  margin: 0 10px;
}
.menu{

}
.bunseki {

}

.bunseki td {
  border: solid 1px #808080
}

div.en {
  display: inline-block;
}