@charset "UTF-8";

.menu form {
  display: inline-block;
  margin: 0 10px;
}
.menu{

}

button.button1 {
    /* 文字サイズを1.4emに指定 */
    font-size: 1.4em;
    /* 文字の太さをboldに指定 */
    font-weight: bold;
    /* 縦方向に10px
     * 横方向に30pxの余白を指定 */
    padding: 50px 0px;
    width:70px;
    hight:50px;
    display:block;

}
.button2 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}
/*画面レイアウト調整用　幅：1000px,高さ：800px*/
.contena
{
  width:1000px;
  height:800px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
/*画面表示変更ボタン用のレイアウト*/
.settei{
  background-color: #99cc00;
  text-align:left;
  float:left;
  position: absolute;
  left:0%;
  top:0%;

}

.subsettei{
  background-color: #ff0000;
  display: table;
  width: 100%;
  padding:0px;
}
/*表示内容を変更する場所のレイアウト*/
.hanni{
  float:right;
  background-color: #99cc00;
  top:0px;
  right:0px;
  position: absolute;
  width:925px;
  height:800px;
  display:none;
}
.hanni2{
  float:right;
  background-color: #99cc00;
  top:0px;
  right:0px;
  position: absolute;
  width:925px;
  height:800px;

}
.hanni3{
  float:right;
  background-color: #99cc00;
  top:0px;
  right:0px;
  position: absolute;
  width:925px;
  height:800px;
}

.subcontana{
  background-color: #ff0080;
  top:20%;
  position: absolute;
  width:900px;
  height:500px;
  margin-left: 10px;
}

#deleteKoumoku{
  float:right;
  background-color: #0080ff;
  top:0px;
  margin: 10px;
  position: absolute;
  display:none;

}
#updateMokuhyou{
  float:right;
  background-color: #0080ff;
  top:0px;
  margin: 10px;
  position: absolute;
  display:none;
}
#updateKoumoku{
  float:right;
  background-color: #0080ff;
  top:0px;
  margin: 10px;
  position: absolute;
  display:none;
}
.subtable{
  table-layout: fixed;
  width:100%;
  background:rgba(255,255,255,0.1);
}