@charset "UTF-8";

.menu form {
  display: inline-block;
  margin: 0 10px;
}
.menu{

}

button.button1 {
    /* 文字サイズを1.4emに指定 */
    font-size: 1.4em;
    /* 文字の太さをboldに指定 */
    font-weight: bold;
    /* 縦方向に10px
     * 横方向に30pxの余白を指定 */
    padding: 50px 0px;
    width:70px;
    hight:50px;
    display:block;

}

.settei{
  text-align:left;
}

.hanni{
  float:right;
  background-color: #99cc00;
}
